<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity_report</title>
</head>
<title>Friends_page</title>
{% extends "base.html" %}

{% block content %}
<body>
<div style="display: block;">
    {% for user_data in personal_info %}
    <div class="container rounded bg-white mt-5 mb-5">
        <ul class="messages">
        </ul>
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px" alt="not found" src="{{user_data.profile_pic.url}}">
                        <form action="{% url 'edit' field='image' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                        <input  id="image" name="image" type="file"   accept="image/*" /  >
                        <div  class=""><button style="display: inline;"
                            class="btn btn-primary profile-button" type="submit">edit</button></div>
                            </form>
                        <span
                        class="font-weight-bold">{{user_data.username}}</span><span
                        class="text-black-50">{{user_data.email}}</span><span> </span>
                        <a style="text-decoration:none;" href="signout/">
                        <div class=""><button style="display: inline;" class="btn btn-primary profile-button" type="submit">...Logout...</button></div></a>
                        <hr>
                        <a style="text-decoration:none;" href="{% url 'change_password_page' %}">
                            <div class=""><button style="display: inline;" class="btn btn-primary profile-button"
                                    type="submit">Change Password</button></div>
                        </a>
                    </div>

            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <form action="{% url 'edit' field='first_name' %}" method="post">
                            {% csrf_token %}
                            <div class="col-md-6"><label class="labels">Name</label><input type="text"
                                    class="form-control" placeholder={{user_data.first_name}}
                                    value="{{user_data.first_name}}" , id="first_name" , name="first_name"></div>
                            <!-- <input type="submit"> -->
                            <div  class=""><button style="display: inline;"
                                    class="btn btn-primary profile-button" type="submit">edit</button></div>
                            {% csrf_token %}
                        </form>
                        <form action="{% url 'edit' field='last_name' %}" method="post">
                            {% csrf_token %}
                            <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                    class="form-control" value="{{user_data.last_name}}"
                                    placeholder="{{user_data.last_name}}" , id="last_name" , name="last_name"></div>
                                    <div  class=""><button style="display: inline;"
                                        class="btn btn-primary profile-button" type="submit">edit</button></div>
                            {% csrf_token %}
                        </form>
                    </div>
                    <div class="row mt-3">
                        <form action="{% url 'edit' field='phone_no' %}" method="post">
                            {% csrf_token %}
                            <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                    class="form-control" placeholder="{{user_data.phone_no}}"
                                    value="{{user_data.phone_no}}", id="phone_no" , name="phone_no"></div>
                                    <div  class=""><button style="display: inline;"
                                        class="btn btn-primary profile-button" type="submit">edit</button></div>
                            {% csrf_token %}
                        </form>

                        <div class="col-md-12"><label class="labels"> Username </label><input type="text"
                                class="form-control" placeholder="{{user_data.username}}"
                                value="{{user_data.username}}" readonly ></div>
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text"
                                class="form-control" placeholder="{{user_data.email}}" value="{{user_data.email}}" readonly >
                        </div>
                        <div class="col-md-12"><label class="labels">Birth Date</label><input type="text"
                                class="form-control" placeholder="{{user_data.birth_date}}"
                                value="{{user_data.birth_date}}" readonly ></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text"
                                class="form-control" placeholder="India" value="India" readonly></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                class="form-control" value="Madhya Pradesh /Indore"
                                placeholder="Madhya Pradesh/ Indore" readonly ></div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <form action="{% url 'edit' field='about' %}" method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                                About</span><span class="border px-3 p-1 add-experience"><i
                                    class="fa fa-plus"></i>&nbsp;About</span></div><br>
                        <div class="col-md-12"><label class="labels">About Description</label><textarea rows="10" cols="15"
                                class="form-control", placeholder="{{user_data.about}}" ,value="{{user_data.about}}" , id="about" ,
                                name="about">{{user_data.about}}</textarea></div>
                                 <br>
                                 <div  class=""><button style="display: inline;"
                                    class="btn btn-primary profile-button" type="submit">edit</button></div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
<hr>
<h2>Created Posts of user </h2>
{%for posted_photos in created_posts %}
{%if posted_photos.catagory == 'image'%}
<div class="card mb-3" style="max-width: 100%; background:rgb(130, 167, 235); ">
    <div class="row g-0">
        <div class="col-md-5">
            <img src=" {{posted_photos.photo.url}} " class="img-fluid rounded-start" alt="..." style="width: 480px; height: 480px; " >
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">{{posted_photos.username}}</h5>
                <p class="card-text"> {{posted_photos.description}} </p>
                <p class="card-text"><small class="text-muted"> {{posted_photos.created_at}} </small></p> <a href="{% url 'open_post' postid=posted_photos.postid %}" style=" text-decoration: none; ">
                <div class=""><button style="margin-bottom: 5px; " class="btn btn-primary profile-button" type="submit">Open Post </button>
                </div>
                </a >
                <a href="{% url 'like_post' target_postid=posted_photos.postid %}" style="text-decoration: none;">
                <button style="margin-right: 5px;" type="button" class="btn btn-outline-success">Like..{{posted_photos.like_count}}</button></a>

                <button style="margin-left: 5;" type="button" class="btn btn-primary">Comment..{{posted_photos.comment_count}} </button>
            </div>
        </div>
    </div>
</div>

{% endif %}

{%if posted_photos.catagory == 'video'%}
<div class="card mb-3" style="max-width: 100%; background:rgb(130, 167, 235);">
    <div class="row g-0">
        <div class="col-md-5">

            <video src="{{posted_photos.video.url}}" width="480" height="480"  loop  controls style=" height: 480px; width: 480px; " class="img-fluid rounded-start"></video>
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">{{posted_photos.username}}</h5>
                <p class="card-text"> {{posted_photos.description}} </p>
                <p class="card-text"><small class="text-muted"> {{posted_photos.created_at}} </small></p>
                <a href="{% url 'open_post' postid=posted_photos.postid %}" style=" text-decoration: none; ">
                    <div class=""><button style="margin-bottom: 5px; " class="btn btn-primary profile-button" type="submit">Open Post
                        </button>
                    </div>
                </a>
                <a href="{% url 'like_post' target_postid=posted_photos.postid %}" style="text-decoration: none;">
                    <button style="margin-right: 5px;" type="button" class="btn btn-outline-success">Like..{{posted_photos.like_count}}</button></a>
                <button style="margin-left: 5;" type="button" class="btn btn-primary">Comment..{{posted_photos.comment_count}} </button>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endfor %}
<hr>

<div style="display: block;">

            <hr><br><br><br>
            <div style="top: 25px;"> </div>
            <hr>
            <h2>Friend List </h2>
            {% for friend in friend_list %}
            <div class="card mb-3" style="max-width: 100%; background:rgb(130, 167, 235); ">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src=" {{friend.profile_pic.url}} " class="img-fluid rounded-start" alt="..."
                            style="width: 480px; height: 480px; ">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Username - {{friend.username}}</h5>
                            <p class="card-text"> Name -{{friend.first_name}} {{friend.last_name}} </p>
                            <p class="card-text"> About - {{friend.about}} </p>
                            <p class="card-text"> DOB - {{friend.birth_date}} </p>
                            <a href="{% url 'un_friend' target_username=friend.username %}" style="text-decoration:none;">
                            <button style="margin-left: 10px;" type="button" class="btn btn-outline-danger">Un-friend</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <hr>
            <h2>Friend Request List </h2>
            <hr>
            {% for requests in request %}

            <div class="card mb-3" style="max-width: 100%; background:rgb(130, 167, 235); ">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src=" {{requests.profile_pic.url}} " class="img-fluid rounded-start" alt="..."
                            style="width: 480px; height: 480px; ">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Username - {{requests.username}}</h5>
                            <p class="card-text"> Name -{{requests.first_name}} {{requests.last_name}} </p><a style="text-decoration: none;" href="{% url 'make_friend' target_username=requests.username %}">
                            <button style="margin-right: 5px;" type="button" class="btn btn-outline-success">ADD Friend</button></a>
                            <a style="text-decoration: none;" href="{% url 'reject_friend_request' target_username=requests.username %}">
                            <button style="margin-left: 10px;" type="button" class="btn btn-outline-danger">Reject</button></a>
                            <a style="text-decoration: none;" href="{% url 'delete_friend_request' target_username=requests.username %}">
                            <button style="margin-left: 10px;" type="button" class="btn btn-outline-danger">Delete</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <h2> You requested to be Friends With  </h2>
            <hr>
            {% for requested in requested %}

            <div class="card mb-3" style="max-width: 100%; background:rgb(130, 167, 235); ">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src=" {{requested.profile_pic.url}} " class="img-fluid rounded-start" alt="..."
                            style="width: 480px; height: 480px; ">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Username - {{requested.friend_with}}</h5>
                            <p class="card-text"> Name -{{requested.first_name}} {{requested.last_name}} </p>
                            <a style="text-decoration: none;" href="{% url 'delete_friend_request' target_username=requested.friend_with %}">
                                <button style="margin-left: 10px;" type="button" class="btn btn-outline-danger">Delete</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
<hr>
<h3>user liked post ids </h3>
{% for data in liked_post_ids %}
<h3>{{data}}</h3>
{% endfor %}

<hr>
<h3> users comments </h3>
{% for data in comments %}
<h3>{{data.postid_id}} -- {{data.comment}}</h3>
{% endfor %}
<hr>
<h3> liked commented posts </h3>
{% for data in l_c_posts %}
<h3>{{data}} </h3>
{% endfor %}
<hr>
<h3> notifications </h3>
{% for data in notifications %}
<h3>{{data.operation}} </h3>
{% endfor %}
</body>
{% endblock content %}
</html>