<title>Open Post</title>
{% extends "base.html" %}

{% block content %}
<hr>

<div style="display: block; background:rgb(130, 235, 230); ">
<div style="top: 25px;"></div>
{%if posted_photos.catagory == 'image'%}
<div class="card mb-3" style="max-width: 100%; background:rgb(130, 167, 235); ">
    <div class="row g-0">
        <div class="col-md-5">
            <img src=" {{posted_photos.photo.url}} " class="img-fluid rounded-start" alt="..."
                style="width: 480px; height: 480px; ">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">{{posted_photos.username}}</h5>
                <p class="card-text"> {{posted_photos.description}} </p>
                <p class="card-text"><small class="text-muted"> {{posted_photos.created_at}} </small></p>
                <button style="margin-right: 5px;" type="button" class="btn btn-outline-success">Likes..{{posted_photos.like_count}}</button>
                <button style="margin-left: 5;" type="button" class="btn btn-primary">Comments..{{posted_photos.comment_count}}
                </button>
            </div>
        </div>
    </div>
</div>
{% csrf_token %} 
<form method="post" action="{% url 'post_comment' target_postid=posted_photos.postid %}" >
    {% csrf_token %}
    <textarea rows="10" cols="15" class="form-control" , placeholder="type your comment hear " ,id="given_comment" , name="given_comment"></textarea>
    <button style="margin-left: 5;" type="submit" class="btn btn-primary">Comment </button>
    {% csrf_token %}
</form>

{% endif %}

{%if posted_photos.catagory == 'video'%}
<div class="card mb-3" style="max-width: 100%; background:rgb(130, 167, 235);">
    <div class="row g-0">
        <div class="col-md-5">

            <video src="{{posted_photos.video.url}}" width="640" height="640" loop controls
                style=" height: 640px; width: 640px; " class="img-fluid rounded-start"></video>
        </div>
        <div class="col-md-7">
            <div class="card-body" style="margin-top: 100px;">
                <h5 class="card-title">{{posted_photos.username}}</h5>
                <p class="card-text"> {{posted_photos.description}} </p>
                <p class="card-text"><small class="text-muted"> {{posted_photos.created_at}} </small></p>
                </div>
                <button style="margin-right: 5px;" type="button" class="btn btn-outline-success">Like..{{posted_photos.like_count}}</button>
                <button style="margin-left: 5;" type="button" class="btn btn-primary">Comments..{{posted_photos.comment_count}} </button>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
<form method="post" action="{% url 'post_comment' target_postid=posted_photos.postid %}">
    {% csrf_token %}
    <textarea rows="10" cols="15" class="form-control" , placeholder="type your comment hear " ,id="given_comment" ,
        name="given_comment"></textarea>
    <button style="margin-left: 5;" type="submit" class="btn btn-primary">Comment </button>
    {% csrf_token %}
</form>
{% endif %}
    </div>
    <div style="font-family: Sans; background-color: rgb(224, 243, 245);">
    <h2 style="background-color: yellow; "> Comments  </h2>
    {% for comments in comments %}
    <hr>
        <div style="font-family: Sans;">
    <h2> {{comments.username}} </h2>
    <p> {{comments.comment}} </p>
        </div> 
    {% endfor %}
    </div>

{% endblock content  %}